<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	
	<title>netView - HelmSmart NMEA 2000 bus data</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.6.2.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.unobtrusive-ajax.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.unobtrusive.js') }}"></script>
	 <script type="text/javascript" src="{{ url_for('static', filename='js/PGNSelectFunctions.js') }}" ></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script> -->
       <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
       <script type="text/javascript" src="{{ url_for('static', filename='js/jscolor.js') }} " ></script>
	   
	<!--   <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.js') }} " ></script> -->
	   
	   
	   
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/fileuploadstyles.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/persona-buttons.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/helmsmart-buttons.css') }}"/> 
	

	 
	   <!-- <script src='https://cdn.firebase.com/v0/firebase.js'></script> -->
	   
	   <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	   
	<style>
	

	
	td { white-space: nowrap; }
	
	.nowrap { white-space: nowrap; }
	
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			color: #fff;
			background-color: #428bca; 
		}

		.tab-content {
			margin-top: 15px;
		}
	</style>


<style type="text/css">
	.map_container{
		 position: relative;
		 width: 100%;
		 /*padding-bottom: 56.25%;*/ /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
	}
	.map_container .map_canvas{
		height:120px;
		width:180px;
	}

	.map_container .map_edit_canvas{
		width:100%;
		height:280px;
		margin-left:10px;
		border:1px solid gray;
	}

	.ajaxBtn {
		width:44px;
	}
</style>

		



<script type="text/javascript" src="{{ url_for('static', filename='js/support.js') }}" ></script>

<style>
	.form-group {
		margin-bottom: 5px;
	}

	.control-label {
		padding-right: 3px;
	}

	.timeAgo {
		color: gray;
	}

	.valueFormat {
		color: black;
	}

	#tabGeoFence .form-control-static,
	#tabGeoFence .control-label {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	hr {
		margin-top: 2px;
		margin-bottom: 6px;
	}

	input[type=checkbox] {
		margin-left: 0px !important;
	}
</style>

<script>
	$(function () {
		$(document).ajaxComplete(function (event, xhr, settings) {
			if (xhr.getResponseHeader('ReloadWholePage')) {
				window.location.reload();	//Reload the whole datapane
			}
		});
		
		$('.nav-tabs a[href="#tabBasicSettings"]').tab('show');
		//RegisterDevice();
		//GetAlertEvents();
		/*
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			if (e.target.hash == '#tabEvents')
			alert("events tab");
			GetAlertEvents();
				
		});
		*/
	});
	/*
	//DoOnChange is used in the Edit template for EventValue
	function DoOnChange(t) {
		if (t.value == 0)
			$('#' + t.id).nextAll('span:first').hide()
		else
			$('#' + t.id).nextAll('span:first').show()
	}

	
	$(function () {
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			if (e.target.hash == '#tabEvents')
			alert("events tab");
			GetAlertEvents();
				
		});
	});
	
	
	$(document).ready(function () {
$('.nav nav-tabs').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
 })
 

    $('.tabs').bind('change', function (e) {
        // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
        alert("hello");
        // Load data etc
    });
	
$('.nav-tabs').bind('change', function (e) {
      // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
        alert("hello");
        // Load data etc
    });
 
 
}); 
  */
  
  	/*
	$(document).ready(function () {
$('#tab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
 })
}); 
  */
  
  
 
  
</script>


	
	





	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.6.2.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.unobtrusive-ajax.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.unobtrusive.js') }}"></script>
	<style>
		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			color: #fff;
			background-color: #428bca;
		}

		.tab-content {
			margin-top: 15px;
		}
	</style>
	
<script type="text/javascript">
	var DialPGNNumber = new Array();
	var myEventID = new Array();

	var gPaused = false;

	
	var gepochtime = new Array();
	var gn2ktime = new Array();

	
	var gFilterPGN="";
	var gFilterSource="";

		var gFilterTimestamp ="";
		var gFilterDescription="" ;
		var gFilterPayload=""  ;
	
	
	var gPGNList = new Array();
	var gSourceList = new Array();
	
	var gDescriptionList = new Array();
	var gPayloadList = new Array();
	
	var timezoneOffset = 0;
	
	var index = 0;
	var gUserID="a91140300971bfb9244989a9bffde53c";
	//var gDeviceID="527805749392";
	var gDeviceID="";
	var gDeviceKey="";
	//var gDeviceName="001EC0B415C2:SSENETG2_SeaDream";
	var gDeviceName="";

var	gLogType = 0;
	
  var AlertID=0;
  var device;
  var firebase;
    var rootRef;;
  


    zpad.zeros = new Array(5).join('0');
    spad.spaces = new Array(7).join(' ');
	
	
	$(document).ready(function () {
	
	var myText;

			    // Initialize Firebase
				/*
  var config = {
    apiKey: "AIzaSyC7lm1ubR9m9i7KRomA3l3NHBOf_wsOeGE",
	authDomain: "helmsmart-ios-pcdin.firebaseapp.com",
    databaseURL: "https://helmsmart-device-message.firebaseio.com",
    storageBucket: "helmsmart-device-message.appspot.com",
    messagingSenderId: "824876491410"
  };
  */
  
    var config = {
    apiKey: "AIzaSyD2HTSEWcIiUr9vn4YnG7_dQx2F19tMapQ",
    authDomain: "helmsmart-ios-pcdin.firebaseapp.com",
    databaseURL: "https://helmsmart-ios-pcdin.firebaseio.com",
    storageBucket: "helmsmart-ios-pcdin.appspot.com",
    messagingSenderId: "824876491410"
  };
  
  firebase.initializeApp(config);
	
	   //InitalizeFirebase();
	
    gUserID = "0";
    {% if session['userid'] %}
    gUserID = "{{session['userid']}}";
    {% else %}
    gUserID = "0";
    {% endif %}


    if (gUserID == null)
    {
    gUserID = "0";
    }
    else
    {
    getDeviceList(gUserID);
    //getDeviceParamList(myuserid);
    }
	
/*
$('.nav-tabs').bind('change', function (e) {
      // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
        alert("hello change");
        // Load data etc
    });
*/	
	$('.nav-tabs').bind('click', function (e) {
      // e.target is the new active tab according to docs
        // so save the reference in case it's needed later on
       // window.activeTab = e.target;
        // display the alert
	//	if (e.target.hash == '#tabEvents')
			//GetAlertEvents();
			//alert("events tab");
			//if (e.target.hash == '#tabGeoFence')
			//setTimeout(initializeMaps, 10);	//Workaround for Bootstrap tabs and google maps center bug.
        //alert("hello click");
        // Load data etc
    });
 
/*
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			if (e.target.hash == '#tabEvents')
			alert("events tab");
			//GetAlertEvents();
				
		});
*/
	
	
}); 

    /* ******************  padding functions ************************************************ */

    function zpad(num, len) {
    var str = String(num),
    diff = len - str.length;
    if(diff <= 0) return str;
    if(diff > zpad.zeros.length)
        zpad.zeros = new Array(diff + 1).join('0');
    return zpad.zeros.substr(0, diff) + str;
}

function spad(num, len) {
    var str = String(num),
        diff = len - str.length;
    if(diff <= 0) return str;
      if(diff > spad.spaces.length)
      spad.spaces= new Array(diff + 1).join(' ');
      return spad.spaces.substr(0, diff) + str;
      }
	  
function pad(number, length) {

        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }

        return str;

    }	  
	  
Date.isLeapYear = function (year) { 
    return (((year % 4 === 0) && (year % 100 !== 0)) || (year % 400 === 0)); 
};

Date.getDaysInMonth = function (year, month) {
    return [31, (Date.isLeapYear(year) ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
};

Date.prototype.isLeapYear = function () { 
    return Date.isLeapYear(this.getFullYear()); 
};

Date.prototype.getDaysInMonth = function () { 
    return Date.getDaysInMonth(this.getFullYear(), this.getMonth());
};

Date.prototype.addMonths = function (value) {
    var n = this.getDate();
    this.setDate(1);
    this.setMonth(this.getMonth() + value);
    this.setDate(Math.min(n, this.getDaysInMonth()));
    return this;
};	  
	  
Date.prototype.subMonths = function (value) {
    var n = this.getDate();
    this.setDate(1);
    this.setMonth(this.getMonth() - value);
    this.setDate(Math.min(n, this.getDaysInMonth()));
    return this;
};	


Date.prototype.yyyymmdd = function() {         
                                
        var yyyy = this.getFullYear().toString();                                    
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
        var dd  = this.getDate().toString();             
                            
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]);
   };
   
 Date.prototype.yyyymmddhhmm = function() {         
                                
        var yyyy = this.getFullYear().toString();                                    
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
        var dd  = this.getDate().toString();    
        var hh  = this.getHours().toString(); 
        var Min  = this.getMinutes().toString(); 		
                            
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]) + ' ' + hh + ':' + Min;
   };
   
   Date.prototype.yyyymmddhhmmss = function() {         
                                
        var yyyy = this.getFullYear().toString();
        var MM = pad(this.getMonth() + 1,2);
        var dd = pad(this.getDate(), 2);
        var hh = pad(this.getHours(), 2);
        var mm = pad(this.getMinutes(), 2)
        var ss = pad(this.getSeconds(), 2)

        return yyyy + '-' + MM + '-' + dd + ' ' +  hh + ':' + mm + ':' + ss;
   };   
	   
	  
function ConvertValueUnits(value, type)  
 {

  //overlayScale = DialAlarm[type] * 0.01;
  
   switch (parseInt(type)) {
            
            case 0: //="0">Fahrenheit</option>
            		return ((value * 1.8) - 459);
            break;
            
            case 1: //="1">Celsius</option>
                    return ((value * 1.0) - 273) ;
            break;

            case 2: //e="2">Kelvin</option>
            		return value ;
            break;

          //  case 3: //="3">- - -</option> 
      
      
            case 4: //="4">Knots</option>
                return (value * 1.94384449);
            break;

            case 5: //="5">MPH</option>
                return (value * 2.23694) ;
            break;
            
            case 6: //e="6">KPH</option>
                return (value * 1.0) ;
            break;
      
      
      // case 7: //="7">- - -</option>
            case 8: //="8">PSI</option>
                    return (value * 0.145037738007) ;
            break;
            

            case 9: //e="9">KPASCAL</option>
                    return value * overlayScale;
            break;
   
            
            case 10: //="10">INHG</option>
                     return (value * 0.295229) ;
            break;

          //  case 11: //="11">- - -</option>
          //  case 12: //="12">TRUE</option>
         //   case 13: //="13">MAGNETIC</option>
         //   case 14: //="14">- - -</option>
         //   case 15: //="15">- - -</option>
         //   case 16: //="16">DEGREES</option>
         //   case 17: //="17">Radians</option>
            case 18: //="18">Gallons/hs</option>
            	return (value * 0.264172052);
            break;

            case 19: //="19">Liters/hr</option>
            	return (value * 0.1) ;
            break;

         //   case 20: //="20">Liters</option>
         //   case 21: //="21">Gallons</option>
         //   case 22: //="22">CubicMeter</option>
         //   case 23: //="23">- - -</option>
        //    case 24: //="24">RPM</option>
        //    case 25: //="25">RPS</option>   
        //    case 26: //="26">%</option>
            case 27: //="27">Volts</option>
               return (value *0.10) ;
      //   case 28: //="28">Amps</option> 
         //   case 26: //="29">- - -</option>
      
            case 33: //="30">Meters</option>
              return (value * 1.0) ;
            break;
            
            case 34: //="31">Feet</option>
              return (value * 3.28084) ;
            break;
            
            case 35: //="32">Fathoms</option>
              return (value * 0.546806649) ;
            break;
			
            case 36: //="33">Miles</option>
              return (value * 0.000621371) ;
            break;
            
			           case 39: //="39">Hours = sec/60*60</option>
              return (value * 0.000277777) ;
            break;  			

      //  case 33: //="33">- - -</option>
        //    case 34: //="34">Indicator</option>
        //    case 35: //="35">Switch</option>
         //   case 36: //="36">- - -</option>         
         //   case 37: //="37">Undefined</option>

      default:
        return value;
      break;

      }

      }

function InitalizeFirebase()
{
	//var AccountDataFolder = "001EC0B415C2"
	var AccountDataFolder = gDeviceID;
	
    var table = document.getElementById("AlertData");

    var rowCount = table.rows.length;

    for(x=rowCount-1; x>0; x--)
    table.deleteRow(x);


    if(rootRef != null)
    rootRef.off();

    //FireBaseURL = "https://seasmart.firebaseio.com/events/" + AccountDataFolder + "/Alert/";
//	FireBaseURL = "https://seasmart.firebaseio.com/events/" + gDeviceKey + "/Insert/";
	   //    FireBaseURL = "https://helmsmart-device-message.firebaseio.com/events/"  + gDeviceKey + "/Insert/"; 	   
	
/*
		if(gLogType == 1)
		{
			FireBaseURL = "events/"  + gDeviceKey + "/PCDIN/"; 	 
		}	
		
		else
		{
			//FireBaseURL = "events/"  + gDeviceKey + "/Insert/";
			FireBaseURL = "DEVICE/"  + gDeviceKey;
		}
	*/
			FireBaseURL = "DEVICE/"  + gDeviceKey;
	
	
		     // FireBaseURL = "events/"  + gDeviceKey + "/Insert/"; 	   
			  //FireBaseURL = "events/"  + gDeviceKey + "/PCDIN/"; 	   
		    // Initialize Firebase
			/*
  var config = {
    apiKey: "AIzaSyC7lm1ubR9m9i7KRomA3l3NHBOf_wsOeGE",
    authDomain: "helmsmart-device-message.firebaseapp.com",
    databaseURL: "https://helmsmart-device-message.firebaseio.com",
    storageBucket: "helmsmart-device-message.appspot.com",
    messagingSenderId: "824876491410"
  };
  
  firebase.initializeApp(config);
  */
  
//The equivalent to the old new Firebase(URL) is firebase.database().ref(URL);
		   
    // alert(FireBaseURL);
    //device = new Firebase(FireBaseURL);
	
	rootRef = firebase.database().ref(FireBaseURL);
	
	
    rootRef.on('value', function(snapshot) {
    ShowFirebaseData(snapshot.val());
    });

}

function ShowFirebaseData(mydata)
{
 var myvalues
 
 
  try{
   //var myvalues = mydata.pushsmart;
   
	if(gLogType == 1)
	{
		myvalues = mydata.PCDIN;
	}
	else if(gLogType == 2)
	{
		myvalues = mydata.SIGNALK;
	}
	else
	{
		myvalues = mydata.JSON;
	}
   
    if(myvalues != null)
    {



    // check if we got an valid object
    if(gPaused == true )
		return;

		if(gLogType == 1)
			UpdatePCDINValues( myvalues);
		else if(gLogType == 2)
			UpdateSignalKValues( myvalues);
		else
			UpdateAlertValues( myvalues);
          
  
   }
   }
   catch(err)
   {}
   
   
   
 }
 
 function UpdatePause(el)
 {
 
	 if (gPaused == false)
	 {
		gPaused = true;
		el.value = "Paused";
		el.innerHTML = "Paused";
	 }
	 else{
		gPaused = false;
		el.value = "Live";
		el.innerHTML = "Live";
	 }
 
 
 
 }
 
 function setSignalKDetail(sel)
 {
 var data = []
 var myrowindex = sel.parentNode.rowIndex;
 
  var cells = sel.parentNode.cells;
  
  for (var i = 0; i < cells.length; i++) {
            data.push(cells[i].innerHTML);
}
  
	gFilterPGN = data[1];
	gFilterSource = data[2];
	gFilterTimestamp = data[0];
	gFilterDescription = data[3];
	gFilterPayload = data[4];
	
	showDetail();
	
	$('.nav-tabs a[href="#tabDetails"]').tab('show');

}

 function showSignalKDetail()
 {	
	
var mykey;
var myvalue;

 var table = document.getElementById("DetailData");
  var rowCount = table.rows.length;

    for(x=rowCount-1; x>0; x--)
    table.deleteRow(x);
	
	var myParsedPayload = JSON.parse(gFilterPayload);
//	for (x in response.myParsedPayload) {
//		myValue = response.myParsedPayload[x];
//	}
	
	
	Object.keys(myParsedPayload).forEach(function(user) {
   //console.log(myParsedPayload, myParsedPayload[user]);
		mykey = user;
		myvalue = myParsedPayload[user];
		
			  var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = mykey;
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = myvalue;
			cell1.style.textAlign = 'left';
		
});
	
	
	  var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Payload";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterPayload;
			cell1.style.textAlign = 'left';
			
			
		        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Description";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterDescription;
			cell1.style.textAlign = 'left';
			

		        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Source";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterSource;
			cell1.style.textAlign = 'left';	
	
           
        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "PGN";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterPGN;
			cell1.style.textAlign = 'left';
	

	        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Timestamp";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterTimestamp;
			cell1.style.textAlign = 'left';

		

 }

 
 function setDetail(sel)
 {
 var data = []
 var myrowindex = sel.parentNode.rowIndex;
 
  var cells = sel.parentNode.cells;
  
  for (var i = 0; i < cells.length; i++) {
            data.push(cells[i].innerHTML);
}
  
	gFilterPGN = data[1];
	gFilterSource = data[2];
	gFilterTimestamp = data[0];
	gFilterDescription = data[3];
	gFilterPayload = data[4];
	
	showDetail();
	
	$('.nav-tabs a[href="#tabDetails"]').tab('show');

}
	
 function showDetail()
 {	
	
var mykey;
var myvalue;

 var table = document.getElementById("DetailData");
  var rowCount = table.rows.length;

    for(x=rowCount-1; x>0; x--)
    table.deleteRow(x);
	
	var myParsedPayload = JSON.parse(gFilterPayload);
//	for (x in response.myParsedPayload) {
//		myValue = response.myParsedPayload[x];
//	}
	
	
	Object.keys(myParsedPayload).forEach(function(user) {
   //console.log(myParsedPayload, myParsedPayload[user]);
		mykey = user;
		myvalue = myParsedPayload[user];
		
			  var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = mykey;
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = myvalue;
			cell1.style.textAlign = 'left';
		
});
	
	
	  var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Payload";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterPayload;
			cell1.style.textAlign = 'left';
			
			
		        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Description";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterDescription;
			cell1.style.textAlign = 'left';
			

		        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Source";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterSource;
			cell1.style.textAlign = 'left';	
	
           
        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "PGN";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterPGN;
			cell1.style.textAlign = 'left';
	

	        var row = table.insertRow(1);	
		row.style.verticalAlign="top"; 
		
		 var cell0 = row.insertCell(0);
           cell0.innerHTML = "Timestamp";
			cell0.style.textAlign = 'left';
			  
		var cell1 = row.insertCell(1);
            cell1.innerHTML = gFilterTimestamp;
			cell1.style.textAlign = 'left';

		

 }
 
function UpdatePCDINValues(mydata)
{ 
var NGTDate = new Date(0);
//var myPCDINdata = mydata.split(/\r|\n/);
var myPCDINdata = mydata.split("\r\n");


	for(index=0; index < (myPCDINdata.length); index++) //
	{  
       var table = document.getElementById("AlertData");
 
       var rowCount = table.rows.length;
            
        if(rowCount >= 140)
            table.deleteRow(rowCount-1);
           
            var row = table.insertRow(1);
			
			row.style.verticalAlign="top"; 
			
			var PGNFields = myPCDINdata[index].split(",");
			
			//var timestamp = PGNFields[2];
			
				var myTimeStamp;
				var myTimeStampStr;
	
				//myTimeStampStr = myHexStr.substr(0 ,6)
				myTimeStampStr =PGNFields[2];
				myTimeStamp = parseInt(myTimeStampStr, 32);
				myTimeStamp = myTimeStamp /1024;
				myTimeStamp = myTimeStamp + 1262304000;
				myTimeStamp = myTimeStamp * 1000;
				
				NGTDate.setTime(myTimeStamp);
			
			var cell0 = row.insertCell(0);
			
		  
	    var utcTime = new Date();;
	
		//	var utcTime = new Date(myNewAlertValues.timestamp  + " GMT").getTime() / 1000;
			
			//if(document.getElementById("TimeZoneId").options[document.getElementById("TimeZoneId").selectedIndex].value == "-0")
			{
				
				utcTime = utcTime + new Date().getTimezoneOffset();
				//var mydate = new Date(utcTime * 1000);
 

               var cell0 = row.insertCell(0);
			   //cell0.innerHTML = NGTDate.toUTCString();
			var mytimestring = NGTDate.toString().replace(/GMT.*/g, "");
		  
			    cell0.innerHTML = mytimestring.replace(" ", "&nbsp;");
				cell0.style.textAlign = 'left';
			}
			
			
			
			
				var cell1 = row.insertCell(1);
				cell1.innerHTML =  myPCDINdata[index];
				//cell1.innerHTML = "$PCDIN" + myPCDINdata[index]
			    //cell1.innerHTML = PGNFields[1];
				cell1.style.textAlign = 'left';
			
	}

 
}
function UpdateSignalKValues(mydata)
{

var currentState;
var AlarmHigh;
var AlarmLow;
var myseries1;
var myseries2;

	var NGTDate = new Date(0);
	//var myPCDINdata = mydata.split(/\r|\n/);
	//var myPCDINdata = mydata.split("$PCDIN");
	
	var mycontext = mydata.context;
	var myupdates = mydata.updates;

		// Get PGN data for each dial
		for(DialIndex=0; DialIndex < (myupdates.length); DialIndex++) //
		{   
			try{
	
				var myjson = myupdates[DialIndex];
				
				//myjson =  JSON.stringify(myjson);
	
				mysource = myjson.source;
				mypgn = mysource.pgn;
				mytimestamp = myjson.timestamp;
				myvalues = myjson.values;

				//mypayload = JSON.stringify( myvalues[0]);
		
				mypath = myvalues[0].path;
				try{
				myvalue = JSON.stringify(myvalues[0].value);
				 }
				catch(err)
				{
					myvalue = myvalues[0].value;
				}
			
      
	
           
			var table = document.getElementById("AlertData");
 
       var rowCount = table.rows.length;
            
        if(rowCount >= 140)
            table.deleteRow(rowCount-1);
           
            var row = table.insertRow(1);
			
			row.style.verticalAlign="top"; 
			
			//change row color if we are monitoring this PGN
			if(gFilterPGN != "")
			{
				
					if( mypgn == gFilterPGN && mysource == gFilterSource)
					{
								row.style.color = "#C70C45"; 
					}
					
			}
			
        //   if( myseries1.alarmstatus == "active" )
		//	{
		//			row.style.color = "#C70C45"; 
		//	}

		//	var cell0 = row.insertCell(0);
        //      cell0.innerHTML = DialIndex;
		//	  cell0.style.textAlign = 'left';
			  
//timezoneOffset
//var date1 = "08-12-2014 10:38 PM"; //MM-DD-YYYY HH:MM
//var new date = moment(date1, "MM-DD-YYYY hh:mm A").add(4, 'hours').format("MM-DD-YYYY hh:mm A"));

	var myStartTime = mytimestamp;
	  var parts = myStartTime.match(/(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2})/);
	  
	  if( parts != null )
	  {
	  //return Date.UTC(+parts[1], parts[2]-1, +parts[3], +parts[4], +parts[5]);
	 // var utcTime = new Date(+parts[1], parts[2]-1, +parts[3], +parts[4], +parts[5]).getTime() / 1000;;
	  parts[2] -= 1;// adjust months
	  var utcTime = new Date(Date.UTC.apply(this, parts.slice(1))).getTime() / 1000;;
	
		//	var utcTime = new Date(myNewAlertValues.timestamp  + " GMT").getTime() / 1000;
			
			if(document.getElementById("TimeZoneId").options[document.getElementById("TimeZoneId").selectedIndex].value == "-0")
			{
				
				utcTime = utcTime + new Date().getTimezoneOffset();
				var mydate = new Date(utcTime * 1000);
 

               var cell0 = row.insertCell(0);
			var mytimestring = mydate.toString().replace(/GMT.*/g, "");
		  
			    cell0.innerHTML = mytimestring.replace(" ", "&nbsp;");
				cell0.style.textAlign = 'left';
			}
			else
			{
				utcTime = utcTime + timezoneOffset;
				var mydate = new Date(utcTime * 1000);
 

              var cell0 = row.insertCell(0);
			  var mytimestring = mydate.toUTCString().replace('GMT', '');
				cell0.innerHTML = mytimestring.replace(" ", "&nbsp;");
			   cell0.style.textAlign = 'left';
			}
					
			//var cell0 = row.insertCell(0);
			//cell0.innerHTML =myNewAlertValues.timestamp;
			 cell0.setAttribute("onclick", 'setSignalKDetail(this)');
			  
              var cell1 = row.insertCell(1);
              cell1.innerHTML = mypgn;
			  cell1.style.textAlign = 'left';
			  cell1.setAttribute("onclick", 'setSignalKDetail(this)');
 

              var cell2 = row.insertCell(2);
              //cell3.innerHTML = myseries1.alarmmode;
			  cell2.innerHTML = mysource.src;
			  cell2.style.textAlign = 'left';
			  cell2.setAttribute("onclick", 'setSignalKDetail(this)');
			   
			  var cell3 = row.insertCell(3);
              cell3.innerHTML = mypath;
			  cell3.setAttribute("onclick", 'setSignalKDetail(this)');
			  cell3.style.textAlign = 'left';

              var cell4 = row.insertCell(4);

				cell4.innerHTML =myvalue;
			
			  cell4.style.textAlign = 'left';
			  cell4.setAttribute("onclick", 'setSignalKDetail(this)');
			 //EventUnits
			  
				if(gFilterPGN != "")
				{
				
					if( mypgn == gFilterPGN && mysource.src == gFilterSource)
					{
						//gFilterPGN = data[1];
					//gFilterSource = data[2];
						gFilterTimestamp = mytimestring.replace(" ", "&nbsp;");;
						gFilterDescription = mypath;
						gFilterPayload = myvalue;
						
						showSignalKDetail();
					}
				}


              }// date parts not null
			  
			  
			 }
			catch(err)
			{
					
			}  
			  
	}
		
}


function UpdateAlertValues(mydata)
{

var currentState;
var AlarmHigh;
var AlarmLow;
var myseries1;
var myseries2;
var mypgndata;

//gPGNList.length=0;
//gSourceList.length=0;
//gDescriptionList.length=0;
//gPayloadList.length=0;

//arr.filter(function(e){ return e === 0 || e });

		// Get PGN data for each dial
		//for(DialIndex=0; DialIndex < (mydata.length); DialIndex++) //
		//for(DialIndex=0; DialIndex < (mydata.length); DialIndex++) //
		while((mypgndata = mydata.pop()) !== undefined)
		{   
	
			//mypgndata = mydata.pop
	
			try{
	
				mydescription = mypgndata.description;
				mypgn = mypgndata.pgn;
				mysource = mypgndata.source;
				mytimestamp = mypgndata.timestamp;
				mypayload = JSON.stringify(mypgndata.payload);
		
			
         
	
           
       var table = document.getElementById("AlertData");
 
       var rowCount = table.rows.length;
            
        if(rowCount >= 140)
            table.deleteRow(rowCount-1);
           
            var row = table.insertRow(1);
			
			row.style.verticalAlign="top"; 
			
			//change row color if we are monitoring this PGN
			if(gFilterPGN != "")
			{
				
					if( mypgn == gFilterPGN && mysource == gFilterSource)
					{
								row.style.color = "#C70C45"; 
					}
					
			}
			
        //   if( myseries1.alarmstatus == "active" )
		//	{
		//			row.style.color = "#C70C45"; 
		//	}

		//	var cell0 = row.insertCell(0);
        //      cell0.innerHTML = DialIndex;
		//	  cell0.style.textAlign = 'left';
			  
//timezoneOffset
//var date1 = "08-12-2014 10:38 PM"; //MM-DD-YYYY HH:MM
//var new date = moment(date1, "MM-DD-YYYY hh:mm A").add(4, 'hours').format("MM-DD-YYYY hh:mm A"));

	var myStartTime = mytimestamp;
	  var parts = myStartTime.match(/(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2})/);
	  
	  if( parts != null )
	  {
	  //return Date.UTC(+parts[1], parts[2]-1, +parts[3], +parts[4], +parts[5]);
	 // var utcTime = new Date(+parts[1], parts[2]-1, +parts[3], +parts[4], +parts[5]).getTime() / 1000;;
	  parts[2] -= 1;// adjust months
	  var utcTime = new Date(Date.UTC.apply(this, parts.slice(1))).getTime() / 1000;;
	
		//	var utcTime = new Date(myNewAlertValues.timestamp  + " GMT").getTime() / 1000;
			
			if(document.getElementById("TimeZoneId").options[document.getElementById("TimeZoneId").selectedIndex].value == "-0")
			{
				
				utcTime = utcTime + new Date().getTimezoneOffset();
				var mydate = new Date(utcTime * 1000);
 

               var cell0 = row.insertCell(0);
			var mytimestring = mydate.toString().replace(/GMT.*/g, "");
		  
			    cell0.innerHTML = mytimestring.replace(" ", "&nbsp;");
				cell0.style.textAlign = 'left';
			}
			else
			{
				utcTime = utcTime + timezoneOffset;
				var mydate = new Date(utcTime * 1000);
 

              var cell0 = row.insertCell(0);
			  var mytimestring = mydate.toUTCString().replace('GMT', '');
				cell0.innerHTML = mytimestring.replace(" ", "&nbsp;");
			   cell0.style.textAlign = 'left';
			}
					
			//var cell0 = row.insertCell(0);
			//cell0.innerHTML =myNewAlertValues.timestamp;
			 cell0.setAttribute("onclick", 'setDetail(this)');
			  
              var cell1 = row.insertCell(1);
              cell1.innerHTML = mypgn;
			  cell1.style.textAlign = 'left';
			  cell1.setAttribute("onclick", 'setDetail(this)');
 

              var cell2 = row.insertCell(2);
              //cell3.innerHTML = myseries1.alarmmode;
			  cell2.innerHTML = mysource;
			  cell2.style.textAlign = 'left';
			  cell2.setAttribute("onclick", 'setDetail(this)');
			   
			  var cell3 = row.insertCell(3);
              cell3.innerHTML = mydescription;
			  cell3.setAttribute("onclick", 'setDetail(this)');
			  cell3.style.textAlign = 'left';

              var cell4 = row.insertCell(4);

				cell4.innerHTML =mypayload;
			
			  cell4.style.textAlign = 'left';
			  cell4.setAttribute("onclick", 'setDetail(this)');
			 //EventUnits
			  
				if(gFilterPGN != "")
				{
				
					if( mypgn == gFilterPGN && mysource == gFilterSource)
					{
						//gFilterPGN = data[1];
					//gFilterSource = data[2];
						gFilterTimestamp = mytimestring.replace(" ", "&nbsp;");;
						gFilterDescription = mydescription;
						gFilterPayload = mypayload;
						
						showDetail();
					}
				}


              }// date parts not null
			  
		    }
			catch(err)
			{
					
			}	  
			  
	}
		
}

function ChangedDeviceTypeID(sel)
{
gDeviceKey = document.getElementById("DeviceTypeID").options[sel.selectedIndex].value;
					document.getElementById("DeviceKey").value = gDeviceKey;
					
					
						//GetAlertEvents();		
						
						if(gDeviceKey !== "")
					InitalizeFirebase();
					
}





function ChangedDeviceKey()
{
	gDeviceKey = document.getElementById("DeviceKey").value;

}


function ChangedTimeZone(sel)
{
 timezoneOffset = parseInt(document.getElementById("TimeZoneId").options[sel.selectedIndex].value) * 60;

}

function ChangedLogType(sel)
{
	gLogType = parseInt(document.getElementById("LogType").options[sel.selectedIndex].value);
	
	InitalizeFirebase();
}



function handleGetDeviceData(response)
{
  var index=0;

  $.unblockUI();

  document.getElementById("DeviceTypeID").options.length = 0;

  response.records.forEach(function(row){
 
     // myDeviceIDs[index]=row[0];
      document.getElementById("DeviceTypeID").options[index++] = new Option(row[0] + ":" + row[1], row[0]);

  });


  document.getElementById("DeviceTypeID").selectedIndex = 0;
  gDeviceKey = document.getElementById("DeviceTypeID").options[0].value;
					document.getElementById("DeviceKey").value = gDeviceKey;
					
	 if(gDeviceKey !== "")
		InitalizeFirebase();
		
					
					
					
   /*   
  for(i=0; i< document.getElementById("DeviceTypeID").options.length; i++)
	    		{
	    			myDeviceID = document.getElementById("DeviceTypeID").options[i].value;
					document.getElementById("DeviceKey").value = myDeviceID;
		    		//if(myDeviceID == AccountDataFolder)
		    		//	document.getElementById("DeviceID").selectedIndex = i;
		    	}
 */         
 //  if(index == 0)
 //    document.getElementById("SearchStatus").innerHTML = "Get Devices Error";
  //   else
  //    document.getElementById("SearchStatus").innerHTML = "Device List update succcessful "; 
    

    // Search DB for list of series that match deviceID
   //  GetSeriesAttributes(document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value); 
    
    // Search DB for list of Alerts that match DeviceID
  	//		 getAlertIDsList(myuserid);
    
    
}


  
 function RegisterDevice()
{

     $.blockUI({ 
     message: '<h1>Register Device...</h1>',
      css: {
      border: 'none',
      padding: '15px',
      backgroundColor: '#000',

      '-webkit-border-radius': '10px',
      '-moz-border-radius': '10px',
      opacity: .5,
      color: '#fff'
      } });
	  
	  
	  timezoneOffset = parseInt(document.getElementById("TimeZoneId").options[document.getElementById("TimeZoneId").selectedIndex].value) * 60;

      var devicedataurl;
      var myuserKey;

      var publictoken = "{{publictoken}}";
      myuserKey = "{{userKey}}";

      //myDeviceKey = document.getElementById("DeviceKey").value;
	  myDeviceKey = gDeviceKey;

      myDeviceName = document.getElementById("DeviceTypeID").options[document.getElementById("DeviceTypeID").selectedIndex].value;
     // myTextArray = myDeviceName.split(":");

      // devicedataurl = "http://www.boatlogger.com/Account/ActivateDevice?deviceId=a5069b96637473d7701fa11eb9baad3d&deviceType=SeaSmart_lite" ;


      devicedataurl = "http://pushsmartdata.herokuapp.com/boatlogger_regtracker?publickey=" + publictoken  + '&userkey=' + myuserKey + '&deviceid=' + myDeviceKey + '&devicename=' + myDeviceName ;


      // devicedataurl =  devicedataurl  + "&blwskey=" + document.getElementById("BLWSKeyInput").value ;
   // devicedataurl =  devicedataurl  + "&datapaneid=" + myuserKey ;


      return $.ajax({
      //async: false,
      cache: false,
      crossDomain: true,
      processData: false,
      type: "GET",
      url: devicedataurl,
      dataType: "json",
      timeout: 10000,
      xhrFields: {
      withCredentials: true
      },

      statusCode: {
      404: function() {      alert( "page not found" );    },
      200: function() {      }
      },
      success: function(response) {
      handleRegisterDevice(response)
      },
      complete: function(response) {
      // unblock when remote call returns
     // handleRegisterDevice(response)
      },
      error: function(request,status,errorThrown) {
      //document.getElementById("SearchStatus").innerHTML = "Pref Add Error";

      $.unblockUI();
      }
      });


} 

  
  
  
function getDeviceList(userid)
{

        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	
    devicedataurl = "http://pushsmartdata.herokuapp.com/getuser?gettype=devices&userid=" + userid;

    return $.ajax({
    //async: false,
    cache: false,
    url: devicedataurl,
    dataType: "json",
    timeout: 10000,
    statusCode: {
    404: function() {      alert( "page not found" );    },
    200: function() {      }
    },
    success: function(response) {
    handleGetDeviceData(response)
    },
    complete: function() {
    // unblock when remote call returns
    // document.getElementById("SearchStatus").innerHTML = "Search Complete";
    //   ShowGraphSmartChart(gindex);
    //$.unblockUI();
    },
    error: function(request,status,errorThrown) {
    //document.getElementById("SearchStatus").innerHTML = "Search Error";
    $.unblockUI();
    }
    });


}

</script>

</head>
<body>

<div>
  <center>
  {% if session['userid'] %}
     <a href="http://pushsmartdata.herokuapp.com" id="login" class="persona-button">
    <span>HelmSmart: {{session['username']}}</span></a>
  {% else %}
    <a href="http://pushsmartdata.herokuapp.com" id="login" class="persona-button">
      <span>HelmSmart: Guest</span></a>
  {% endif %}
  </center>
</div>




	<div class="container body-content">


<script type="text/javascript" src="{{ url_for('static', filename='js/support.js') }}" ></script>

<style>
	.form-group {
		margin-bottom: 5px;
	}

	.control-label {
		padding-right: 3px;
	}

	.timeAgo {
		color: gray;
	}

	.valueFormat {
		color: black;
	}

	#tabEvents .form-control-static,
	#tabEvents .control-label {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	hr {
		margin-top: 2px;
		margin-bottom: 6px;
	}

	input[type=checkbox] {
		margin-left: 0px !important;
	}
</style>

<script>
	$(function () {
		$(document).ajaxComplete(function (event, xhr, settings) {
			if (xhr.getResponseHeader('ReloadWholePage')) {
				window.location.reload();	//Reload the whole datapane
			}
		});
		
		$('.nav-tabs a[href="#tabBasicSettings"]').tab('show');

	});

  
</script>		
		
		
		
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="tab" role="tablist">
	<li><a href="#tabMarketing" role="tab" data-toggle="tab">Info</a></li>
	<li><a href="#tabBasicSettings" role="tab" data-toggle="tab">Device</a></li>
	<li><a href="#tabLive" role="tab" data-toggle="tab">Summary</a></li>


		<li><a href="#tabDetails" role="tab" data-toggle="tab">Details</a></li>
		
</ul>

<!-- Tab panes -->
<div class="tab-content">

<!-- Tab pane -->
<div class="tab-pane" id="tabMarketing">

<p id="introText">With this datapane you can monitor raw NMEA 2000 bus traffic received by your SeaSmart device.</p>
<div id="idMarketing">
	<img src="static/img/SSWIFIPRO200W.jpg" style="float: right; margin: 5px;" onclick="window.open('http://www.seasmart.net/marine-wireless-networking-wifipro.html', '_blank');" />
	<p>If you have no tracker today, we strongly recommend the  <span class="SeaSmartPro">SeaSmartPro</span> tracker. The <span class="SeaSmartPro">SeaSmartPro</span> automatically sends all NMEA 2000 bus data to the HelmSmart Cloud service for remote monitoring, storage, and analysis</p>
	<p>The <span class="SeaSmart">SeaSmartProGPRS</span> is however much more than a tracker. The standard functions include:</p>
	<ul>
		<li>Links to your existing NMEA 2000 network</li>
		<li>Sends positions to your HelmSmart site</li>
		<li>Uses you existing internet service</li>
		<li>No need for additional data plan charges</li>
		<li>Automatically creates logbooks and trip segments for your journeys</li>
		<li>Monitors the battery voltage</li>
		<li>Monitors the temperature onboard</li>
		<li>Monitors fuel and tanks onboard</li>
		<li>Monitors weather and wind</li>
		<li>Tracks the yacht in case of vessel</li>
	</ul>
	<p>Built-in data logger to SD memory</p>
	<ul>
		<li>Records everything when vessel is out of range</li>
		<li>Up to a full year of storage</li>
		<li>Automatically syncs to HelmSmart site when internet service is found</li>
		<li>Cloud base storage and access from the HelmSmart data server</li>
		</ul>
	<p>Add more vessel sensors</p>
	<ul>		
		<li>Install additional temperature sensors to monitor e.g. engine room temperature, sea temperature, outdoor temperature etc.</li>
		<li>12 additional customized inputs (6 digital inputs, 2 tach, and 4 analog inputs)</li>
	</ul>
	<p>Everything is naturally monitored from your HelmSmart site and automatically included in your logbook or displayed on graphs or maps at your site.</p>
	<p>Download the data sheet to learn more or order your <span class="SeaSmartPro">SeaSmartPro</span> directly here. Worldwide shipping is included in the <em>595 USD</em> price.</p>
	<div style="margin: 15px;">
		<button id='downloadDatasheet' type="button" class="btn btn-primary" onclick="window.open('http://www.seasmart.net/pdf/SSWiFiPro.pdf', '_blank');">Datasheet</button>
<!--	<button id='orderNow' type="button" class="btn btn-primary" style="margin-left: 30px;" onclick="location.href=window.location.protocol + '//' + window.location.host + '/Order';return false;">Order Now</button>-->
		<button id='orderNow' type="button" class="btn btn-primary" style="margin-left: 30px;" onclick="window.open('http://www.seasmart.net/marine-wireless-networking-wifipro.html', '_blank');">Order Now</button>

	</div>
	<p>
		If you already have a SeaSmart and want to connect it to HelmSmart, login with your email
	</p>


</div>


	

	<script>
		$(function () { $("[data-toggle='tooltip']").tooltip(); });
	</script>




</div>

	<!-- Tab pane -->
<div class="tab-pane" id="tabLive">
		
<style>
 th {
	 background-color : #428bca;
	 color:white;
 }



</style>		
		
		<div class="form-group" style="margin-top:5px;">
				
			<div class="col-sm-offset-4 col-sm-4">
				<button id="btnPause" name="btnValue" value="Pause" class="btn btn-primary" style="width:150px;" onclick="UpdatePause(this);">Live</button>
			
			</div>
		</div>
		
			<div class="form-horizontal">
				<div class="form-group text-center text-info" style="margin-top:5px;"  >
<div class="alertdiv" id="alert_data" style="width:100%; height:10%; display: block">

    <!--
    <form name="AlertData">
      <textarea id="AlertText" name="AlertText" rows="20" style="width: 100%; display: block"></textarea>
    </form>
    -->
    <Table class="alerttable" id="AlertData" border="0" cellspacing="5" cellpadding="5" style="width:100%; display: block">

      <thead class="alertthead">
        <TR>
       
		  <th> TimeStamp</th>    
          <th> PGN</th>    
          <th> Source</th>
          <th> Description</th>
          <th> Data</th>
			   </TR>
      </thead>
      <tbody class="alerttbody"></tbody>
      
    </Table>
    
  </div>
				</div>
			</div>
			
			  <div id="SearchStatus" class="auto-style6" style="width:100%;  padding: 5px 5px 5px 5px;" >
    <span class="auto-style6">	</span>

  </div>
			
</div>

	<!-- Details pane -->
<div class="tab-pane" id="tabDetails">
		
<style>
 th {
	 background-color : #428bca;
	 color:white;
 }



</style>		
		
		
		
			<div class="form-horizontal">
				<div class="form-group text-center text-info" style="margin-top:10px;"  >
<div class="detailsdiv" id="detail_data" style="width:100%; height:10%; display: block">

    <!--
    <form name="AlertData">
      <textarea id="AlertText" name="AlertText" rows="20" style="width: 100%; display: block"></textarea>
    </form>
    -->
    <Table class="detailtable" id="DetailData" border="0" cellspacing="5" cellpadding="5" style="width:100%; display: block">

      <thead class="alertthead">
        <TR>
       
		  <th> Description</th>    
          <th> Data</th>    

			   </TR>
      </thead>
      <tbody class="alertbody"></tbody>
      
    </Table>
    
  </div>
				</div>
			</div>
			
			
			
</div>

<div class='tab-pane' id="tabBasicSettings">
			
<form action="/TrackerDatapane/SettingsBasic" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tabBasicSettings" id="form0" method="post">	
<div class="form-horizontal">
		
		<!--
	<p id="introText">By registering your SeaSmart gateway with BoatLogger - live vessel data can be automatically added to your log book and displayed in custom data boards</p>
    <p id="introText">Please enter account info to link you HelmSmart Telemetry Board to Data Pane ID = {{ userKey }} </p>
    <p id="introText">token = {{ publictoken }} </p>
-->

		<div class="form-group">
			<label class="control-label col-sm-2" for="DeviceTypeID">Device Type</label>
			<div class="col-sm-4">
				<select class="form-control" data-val="true" data-val-number="The field Tracker Type must be a number." data-val-required="The Tracker Type field is required." id="DeviceTypeID" name="DeviceTypeID"   onchange="ChangedDeviceTypeID(this);"  >
				<option value="000000000000">0000000000000:Demo</option>

			</select>
				<span class="field-validation-valid text-danger" data-valmsg-for="TrackerTypeID" data-valmsg-replace="true"></span>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="DeviceKey">Device Key</label>
			<div class="col-sm-4">
				<input class="form-control text-box single-line" data-val="true" data-val-length="The Device Key must be a string with a length of 32 ." data-val-length-max="15" data-val-length-min="32" data-val-required="The Device Key field is required." id="DeviceKey" name="DeviceKey" placeholder="Key is 32 characters" type="text" value="" onchange="ChangedDeviceKey();" readonly />
				<span class="field-validation-valid text-danger" data-valmsg-for="DeviceKey" data-valmsg-replace="true"></span>
			</div>
		</div>

				<div class="form-group">
			<label class="control-label col-sm-2" for="LogType">LogType</label>
			<div class="col-sm-6">
				
			<select class="form-control" id="LogType" name="LogType" style="" onchange="ChangedLogType(this);">
			<option value="0">JSON Data</option>
			<option value="1">$PCDIN Data</option>
			<option value="2">SignalK Data</option>
			</select>
			<span class="field-validation-valid" data-valmsg-for="LogType" data-valmsg-replace="true"></span>
				</div>
			</div>


		
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="TimeZoneId">Time zone</label>
			<div class="col-sm-6">
				
<select class="form-control" id="TimeZoneId" name="TimeZoneId" style="" onchange="ChangedTimeZone(this);"><option value="-720">(UTC-12:00) International Date Line West</option>
<option value="-660">(UTC-11:00) Coordinated Universal Time-11</option>
<option value="-600">(UTC-10:00) Hawaii</option>
<option value="-540">(UTC-09:00) Alaska</option>
<option value="-480">(UTC-08:00) Baja California</option>
<option value="-480">(UTC-08:00) Pacific Time (US &amp; Canada)</option>
<option value="-420">(UTC-07:00) Arizona</option>
<option value="-420">(UTC-07:00) Chihuahua, La Paz, Mazatlan</option>
<option value="-420">(UTC-07:00) Mountain Time (US &amp; Canada)</option>
<option value="-360">(UTC-06:00) Central America</option>
<option value="-360">(UTC-06:00) Central Time (US &amp; Canada)</option>
<option value="-360">(UTC-06:00) Guadalajara, Mexico City, Monterrey</option>
<option value="-360">(UTC-06:00) Saskatchewan</option>
<option value="-300">(UTC-05:00) Bogota, Lima, Quito, Rio Branco</option>
<option value="-300">(UTC-05:00) Eastern Time (US &amp; Canada)</option>
<option value="-300">(UTC-05:00) Indiana (East)</option>
<option value="-270">(UTC-04:30) Caracas</option>
<option value="-240">(UTC-04:00) Asuncion</option>
<option value="-240">(UTC-04:00) Atlantic Time (Canada)</option>
<option value="-240">(UTC-04:00) Cuiaba</option>
<option value="-240">(UTC-04:00) Georgetown, La Paz, Manaus, San Juan</option>
<option value="-240">(UTC-04:00) Santiago</option>
<option value="-210">(UTC-03:30) Newfoundland</option>
<option value="-180">(UTC-03:00) Brasilia</option>
<option value="-180">(UTC-03:00) Buenos Aires</option>
<option value="-180">(UTC-03:00) Cayenne, Fortaleza</option>
<option value="-180">(UTC-03:00) Greenland</option>
<option value="-180">(UTC-03:00) Montevideo</option>
<option value="-180">(UTC-03:00) Salvador</option>
<option value="-120">(UTC-02:00) Coordinated Universal Time-02</option>
<option value="-120">(UTC-02:00) Mid-Atlantic - Old</option>
<option value="-60">(UTC-01:00) Azores</option>
<option value="-60">(UTC-01:00) Cape Verde Is.</option>
<option value="0">(UTC) Casablanca</option>
<option selected="selected" value="-0">(LOCAL) Local Time</option>
<option value="0">(UTC) Coordinated Universal Time</option>
<option value="0">(UTC) Dublin, Edinburgh, Lisbon, London</option>
<option value="0">(UTC) Monrovia, Reykjavik</option>
<option value="60">(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
<option value="60">(UTC+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
<option value="60">(UTC+01:00) Brussels, Copenhagen, Madrid, Paris</option>
<option value="60">(UTC+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
<option value="60">(UTC+01:00) West Central Africa</option>
<option value="60">(UTC+01:00) Windhoek</option>
<option value="120">(UTC+02:00) Amman</option>
<option value="120">(UTC+02:00) Athens, Bucharest</option>
<option value="120">(UTC+02:00) Beirut</option>
<option value="120">(UTC+02:00) Cairo</option>
<option value="120">(UTC+02:00) Damascus</option>
<option value="120">(UTC+02:00) E. Europe</option>
<option value="120">(UTC+02:00) Harare, Pretoria</option>
<option value="120">(UTC+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
<option value="120">(UTC+02:00) Istanbul</option>
<option value="120">(UTC+02:00) Jerusalem</option>
<option value="120">(UTC+02:00) Tripoli</option>
<option value="180">(UTC+03:00) Baghdad</option>
<option value="180">(UTC+03:00) Kaliningrad, Minsk</option>
<option value="180">(UTC+03:00) Kuwait, Riyadh</option>
<option value="180">(UTC+03:00) Nairobi</option>
<option value="210">(UTC+03:30) Tehran</option>
<option value="240">(UTC+04:00) Abu Dhabi, Muscat</option>
<option value="240">(UTC+04:00) Baku</option>
<option value="240">(UTC+04:00) Moscow, St. Petersburg, Volgograd</option>
<option value="240">(UTC+04:00) Port Louis</option>
<option value="240">(UTC+04:00) Tbilisi</option>
<option value="240">(UTC+04:00) Yerevan</option>
<option value="240">(UTC+04:30) Kabul</option>
<option value="300">(UTC+05:00) Ashgabat, Tashkent</option>
<option value="300">(UTC+05:00) Islamabad, Karachi</option>
<option value="330">(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
<option value="330">(UTC+05:30) Sri Jayawardenepura</option>
<option value="345">(UTC+05:45) Kathmandu</option>
<option value="360">(UTC+06:00) Astana</option>
<option value="360">(UTC+06:00) Dhaka</option>
<option value="360">(UTC+06:00) Ekaterinburg</option>
<option value="390">(UTC+06:30) Yangon (Rangoon)</option>
<option value="420">(UTC+07:00) Bangkok, Hanoi, Jakarta</option>
<option value="420">(UTC+07:00) Novosibirsk</option>
<option value="480">(UTC+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
<option value="480">(UTC+08:00) Krasnoyarsk</option>
<option value="480">(UTC+08:00) Kuala Lumpur, Singapore</option>
<option value="480">(UTC+08:00) Perth</option>
<option value="480">(UTC+08:00) Taipei</option>
<option value="480">(UTC+08:00) Ulaanbaatar</option>
<option value="540">(UTC+09:00) Irkutsk</option>
<option value="540">(UTC+09:00) Osaka, Sapporo, Tokyo</option>
<option value="540">(UTC+09:00) Seoul</option>
<option value="540">(UTC+09:30) Adelaide</option>
<option value="540">(UTC+09:30) Darwin</option>
<option value="600">(UTC+10:00) Brisbane</option>
<option value="600">(UTC+10:00) Canberra, Melbourne, Sydney</option>
<option value="600">(UTC+10:00) Guam, Port Moresby</option>
<option value="600">(UTC+10:00) Hobart</option>
<option value="600">(UTC+10:00) Yakutsk</option>
<option value="660">(UTC+11:00) Solomon Is., New Caledonia</option>
<option value="660">(UTC+11:00) Vladivostok</option>
<option value="720">(UTC+12:00) Auckland, Wellington</option>
<option value="720">(UTC+12:00) Coordinated Universal Time+12</option>
<option value="720">(UTC+12:00) Fiji</option>
<option value="720">(UTC+12:00) Magadan</option>
<option value="720">(UTC+12:00) Petropavlovsk-Kamchatsky - Old</option>
<option value="780">(UTC+13:00) Nuku&#39;alofa</option>
<option value="780">(UTC+13:00) Samoa</option>
<option value="840">(UTC+14:00) Kiritimati Island</option>
</select>
<span class="field-validation-valid" data-valmsg-for="TimeZoneId" data-valmsg-replace="true"></span>
			</div>
		</div>



	</div> <!-- form horzinal -->

</form>
</div>

	</div>
</div>


</body>

</html>

